/.CodeGenerator.java._trace
/.CodeGenerator.xtendbin
/.EntityModelClassGenerator.java._trace
/.EntityModelClassGenerator.xtendbin
/.MainProjectRepresentation.java._trace
/.MainProjectRepresentation.xtendbin
/CodeGenerator.java
/EntityModelClassGenerator.java
/MainProjectRepresentation.java
