<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="br.ufes.inf.nemo.frameweb.codegenerator.e4.CodeGenerator"
            id="E4CodeGeneratorCall">
      </javaActions>
   </extension>

</plugin>
