/.EntityClassCodeGenerator.java._trace
/.EntityModelCodeGenerator.java._trace
/.EntityClassCodeGenerator.xtendbin
/.EntityModelCodeGenerator.xtendbin
/EntityClassCodeGenerator.java
/EntityModelCodeGenerator.java
